<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
		default-autowire="byType">
	<bean init-method="xmlInit" id="familyService" class="com.xiaobi.service.FamilyService">
		<!-- Set注入 -->
<!--		<property name="XBService">-->
<!--			<ref bean="xbBean"></ref>-->
<!--		</property>-->
		<!-- 构造器注入,构造器注入和Set注入不能在同时存在 -->
<!--		<constructor-arg ref="xbBean"></constructor-arg>-->
	</bean>
	<bean id="xbService" class="com.xiaobi.service.XBService">
		<constructor-arg value="ZL0" index="0"></constructor-arg>
		<constructor-arg value="ZL1" index="1"></constructor-arg>
		<constructor-arg value="ZL2" index="2"></constructor-arg>
	</bean>

<!--	<bean id="familyService" class="com.xiaobi.service.FamilyService"></bean>-->
<!--	<bean id="xbService1" primary="true" class="com.xiaobi.service.XBService"></bean>-->
<!--	<bean id="xbService2" autowire-candidate="false" class="com.xiaobi.service.XBService1"></bean>-->

</beans>