<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
		>
	<bean init-method="liftAfterInit" id="familyService" class="com.xiaobi.service.FamilyService">
		<!-- Set注入 -->
<!--		<property name="XBService">-->
<!--			<ref bean="xbBean"></ref>-->
<!--		</property>-->
		<!-- 构造器注入,构造器注入和Set注入不能在同时存在 -->
<!--		<constructor-arg ref="xbBean"></constructor-arg>-->
	</bean>
	<bean id="xbBean" class="com.xiaobi.service.XBService"></bean>
</beans>